<div class="flex justify-center flex-col items-center w-full">

  <%= form_with(url: sign_in_path, class: "min-w-[20rem]", data: { turbo: false }) do |form| %>
    <h1 class="text-2xl lg:mt-16 text-left w-full">Sign in</h1>
    <p class="text-sm mb-5 text-assista-300">Enter your email and password to sign-in.</p>

    <div class="form-control w-full">
      <%= form.label :email, class: "label" do %>
        <span class="label-text">Email</span>
      <% end %>
      <%= form.email_field :email, value: params[:email_hint], class: "input input-bordered w-full", required: true, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-control w-full">
      <%= form.label :password, class: "label" do %>
        <span class="label-text">Password</span>
      <% end %>
      <%= form.password_field :password, class: "input input-bordered w-full", required: true, autocomplete: "current-password" %>
    </div>

    <%= render partial: "shared/alerts" %>

    <div class="form-control w-full mt-5">
      <%= form.submit "Sign In", class: "btn btn-primary" %>
    </div>
  <% end %>

  <br>

  <div class="flex flex-col items-center gap-2 mt-5">
    <%= link_to "Forgot your password?", new_identity_password_reset_path, class: "link" %>
    
    <p class="mt-4">No account yet?</p>
    <%= link_to "Sign up", sign_up_path, class: "link" %>
  </div>
</div>
